In [5]:
# Import ML libraries
import pycaret
import xgboost

# Snowpark for Python
from snowflake.snowpark.session import Session
import snowflake.snowpark.types as T
import snowflake.snowpark.functions as F
import snowflake.snowpark as snowpark
from snowflake.snowpark.functions import datediff, to_date, col, expr

# Import Misc
import json
import pandas as pd
from pycaret.classification import setup, compare_models

In [6]:
# Create Snowflake Session object
connection_parameters = json.load(open("connection.json"))
session = Session.builder.configs(connection_parameters).create()

In [10]:
# Connecting to the correct table
tableName = 'PURCHASE_ORDER_HISTORY'
dataframe = session.table(tableName)

# Calculation to find the lag between Planned Delivery from Actual Delivery
dataframe = dataframe.withColumn("target_feature",
                                    datediff('day', 
                                            col("DELIVERY_DATE_ML"), 
                                            col("FIRST_GR_POSTING_DATE_ML")))


# Example: Selecting specific columns
# This selects only a subset of columns. Adjust the column names as needed.
filtered_dataframe = dataframe.select(
    col("PURCHASE_DOCUMENT_ITEM_ID"), # ID for purchase order
    col("CREATE_DATE_ML"),            # day purchase order was created
    col("COMPANY_CODE_ID"),           # copmany w/in INVISTA making purchase
    col("VENDOR_ID"),                 # ID of the vendor "we" are purchasing from
    col("POSTAL_CD"),                 # postal code associated w company code ID
    col("MATERIAL_ID"),               # ID of material being purchase
    col("SUB_COMMODITY_DESC"),        # description of sub commodity
    col("MRP_TYPE_ID"),               # determined if material is reordered manually or automatically
    col("PLANT_ID"),                  # ID of plant making purchase
    col("REQUESTED_DELIVERY_DATE_ML"),# delivery date from requisition
    col("INBOUND_DELIVERY_ID"),       # ID for delivery
    col("INBOUND_DELIVERY_ITEM_ID"),  # ID of item w/in delivery
    col("PLANNED_DELIVERY_DAYS"),     # Amount of days expected to take
    col("FIRST_GR_POSTING_DATE_ML"),  # expected delivery date        
    col("target_feature")             # Lag between Planned Delivery from Actual Delivery 
)


# Print a sample of the filtered dataframe to standard output.
filtered_dataframe.show()

# Optionally, you might want to filter rows based on some conditions
# Example: Filtering out rows where FIRST_GR_POSTING_DATE_ML is NULL
filtered_dataframe = filtered_dataframe.filter(col("FIRST_GR_POSTING_DATE_ML").is_not_null())

# Show the DataFrame after filtering
filtered_dataframe.show()

------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|"PURCHASE_DOCUMENT_ITEM_ID"  |"CREATE_DATE_ML"  |"COMPANY_CODE_ID"  |"VENDOR_ID"  |"POSTAL_CD"  |"MATERIAL_ID"  |"SUB_COMMODITY_DESC"                    |"MRP_TYPE_ID"  |"PLANT_ID"  |"REQUESTED_DELIVERY_DATE_ML"  |"INBOUND_DELIVERY_ID"  |"INBOUND_DELIVERY_ITEM_ID"  |"PLANNED_DELIVERY_DAYS"  |"FIRST_GR_POSTING_DATE_ML"  |"TARGET_FEATURE"  |
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|10                           |2021-02-10        |US39               |8010000984   |60045-5202   |NULL           |Tools                                   |NULL           |4120        |2021-02-15                    |NULL                   |0                           |0.0                      |2021-02-11                  |-4                |
|20                           |2021-02-10        |US10               |8010000984   |60045-5202   |NULL           |Machinery & Equipment                   |NULL           |4014        |2021-02-14                    |185520728              |20                          |1.0                      |2021-02-12                  |-2                |
|20                           |2021-02-10        |CA10               |V4138        |19973        |2100032775     |Tolling                                 |1              |4007        |2021-02-16                    |185529650              |10                          |2.0                      |2021-02-16                  |0                 |
|10                           |2021-02-10        |CA10               |8010002419   |H9J 4A1      |1100119629     |Valves                                  |1              |4036        |2021-02-24                    |NULL                   |0                           |14.0                     |2021-04-06                  |41                |
|30                           |2021-02-10        |CA10               |8010002454   |K7L 4Y5      |3100006053     |Tubes & Cores                           |1              |4036        |2021-02-09                    |NULL                   |0                           |1.0                      |2021-02-09                  |0                 |
|10                           |2021-02-10        |US10               |NULL         |NULL         |2100013224     |Additives, Colorants & Catalysts        |1              |4014        |2021-02-11                    |185519500              |900002                      |1.0                      |2021-02-16                  |5                 |
|10                           |2021-02-10        |US40               |8010099572   |53821        |NULL           |Transportation, Storage, Mail Services  |NULL           |4138        |2021-12-31                    |NULL                   |0                           |0.0                      |NULL                        |NULL              |
|10                           |2021-02-10        |US39               |8010005511   |77630-1818   |NULL           |Pumps & Compressors                     |NULL           |4120        |2021-02-10                    |NULL                   |0                           |0.0                      |NULL                        |NULL              |
|10                           |2021-02-10        |US39               |8010001167   |77705-1129   |NULL           |Maintenance Services                    |NULL           |4120        |2021-11-29                    |NULL                   |0                           |0.0                      |NULL                        |NULL              |
|10                           |2021-02-10        |US39               |8010004468   |77507        |1100162838     |Piping & Tubing                         |1              |4120        |2021-02-16                    |185562735              |10                          |6.0                      |2021-03-05                  |17                |
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|"PURCHASE_DOCUMENT_ITEM_ID"  |"CREATE_DATE_ML"  |"COMPANY_CODE_ID"  |"VENDOR_ID"  |"POSTAL_CD"  |"MATERIAL_ID"  |"SUB_COMMODITY_DESC"              |"MRP_TYPE_ID"  |"PLANT_ID"  |"REQUESTED_DELIVERY_DATE_ML"  |"INBOUND_DELIVERY_ID"  |"INBOUND_DELIVERY_ITEM_ID"  |"PLANNED_DELIVERY_DAYS"  |"FIRST_GR_POSTING_DATE_ML"  |"TARGET_FEATURE"  |
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|10                           |2021-02-10        |US39               |8010000984   |60045-5202   |NULL           |Tools                             |NULL           |4120        |2021-02-15                    |NULL                   |0                           |0.0                      |2021-02-11                  |-4                |
|20                           |2021-02-10        |US10               |8010000984   |60045-5202   |NULL           |Machinery & Equipment             |NULL           |4014        |2021-02-14                    |185520728              |20                          |1.0                      |2021-02-12                  |-2                |
|20                           |2021-02-10        |CA10               |V4138        |19973        |2100032775     |Tolling                           |1              |4007        |2021-02-16                    |185529650              |10                          |2.0                      |2021-02-16                  |0                 |
|10                           |2021-02-10        |CA10               |8010002419   |H9J 4A1      |1100119629     |Valves                            |1              |4036        |2021-02-24                    |NULL                   |0                           |14.0                     |2021-04-06                  |41                |
|30                           |2021-02-10        |CA10               |8010002454   |K7L 4Y5      |3100006053     |Tubes & Cores                     |1              |4036        |2021-02-09                    |NULL                   |0                           |1.0                      |2021-02-09                  |0                 |
|10                           |2021-02-10        |US10               |NULL         |NULL         |2100013224     |Additives, Colorants & Catalysts  |1              |4014        |2021-02-11                    |185519500              |900002                      |1.0                      |2021-02-16                  |5                 |
|10                           |2021-02-10        |US39               |8010004468   |77507        |1100162838     |Piping & Tubing                   |1              |4120        |2021-02-16                    |185562735              |10                          |6.0                      |2021-03-05                  |17                |
|30                           |2021-02-10        |US39               |8010099066   |98109        |NULL           |Office Supplies                   |NULL           |4124        |2021-02-14                    |NULL                   |0                           |0.0                      |2022-02-21                  |372               |
|10                           |2021-02-10        |GB10               |V4036        |K7L 4Z6      |2100025899     |Resins & Polymers                 |1              |3009        |2021-04-11                    |185599421              |10                          |23.0                     |2021-04-27                  |16                |
|10                           |2021-02-10        |GB10               |V4036        |K7L 4Z6      |2100025899     |Resins & Polymers                 |1              |3009        |2021-04-11                    |185599418              |900001                      |23.0                     |2021-04-24                  |13                |
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [12]:
# Assuming 'filtered_dataframe' is the DataFrame you've prepared in Snowflake
# Convert the Snowpark DataFrame to a Pandas DataFrame with consideration for NULL values

# Convert DataFrame to Pandas, handling NULL values by allowing float conversion
df = filtered_dataframe.fillna(0).to_pandas()  # This replaces NULL with 0 before conversion

Input value type doesn't match the target column data type, this replacement was skipped. Column Name: "CREATE_DATE_ML", Type: DateType(), Input Value: 0, Type: <class 'int'>
Input value type doesn't match the target column data type, this replacement was skipped. Column Name: "COMPANY_CODE_ID", Type: StringType(16777216), Input Value: 0, Type: <class 'int'>
Input value type doesn't match the target column data type, this replacement was skipped. Column Name: "VENDOR_ID", Type: StringType(16777216), Input Value: 0, Type: <class 'int'>
Input value type doesn't match the target column data type, this replacement was skipped. Column Name: "POSTAL_CD", Type: StringType(16777216), Input Value: 0, Type: <class 'int'>
Input value type doesn't match the target column data type, this replacement was skipped. Column Name: "SUB_COMMODITY_DESC", Type: StringType(16777216), Input Value: 0, Type: <class 'int'>
Input value type doesn't match the target column data type, this replacement was skipped. Column Name: "REQUESTED_DELIVERY_DATE_ML", Type: DateType(), Input Value: 0, Type: <class 'int'>
Input value type doesn't match the target column data type, this replacement was skipped. Column Name: "PLANNED_DELIVERY_DAYS", Type: StringType(16777216), Input Value: 0, Type: <class 'int'>
Input value type doesn't match the target column data type, this replacement was skipped. Column Name: "FIRST_GR_POSTING_DATE_ML", Type: DateType(), Input Value: 0, Type: <class 'int'>

In [13]:
df.head()

,PURCHASE_DOCUMENT_ITEM_ID,CREATE_DATE_ML,COMPANY_CODE_ID,VENDOR_ID,POSTAL_CD,MATERIAL_ID,SUB_COMMODITY_DESC,MRP_TYPE_ID,PLANT_ID,REQUESTED_DELIVERY_DATE_ML,INBOUND_DELIVERY_ID,INBOUND_DELIVERY_ITEM_ID,PLANNED_DELIVERY_DAYS,FIRST_GR_POSTING_DATE_ML,TARGET_FEATURE
0,10,2018-09-07,CN15,V4014,29078,2100007708,Custom Manufacturing,1,1016,2018-11-16,183615169,900001,52.0,2018-11-22,6
1,10,2018-09-07,CA10,8010003146,L6L 6R2,1100125572,Piping & Tubing,1,4036,2018-10-01,0,0,24.0,2018-12-05,23
2,180,2018-09-07,CA10,8010005836,N2C 0B7,0,Material Handling,0,4036,2018-09-08,0,0,0.0,2018-09-18,10
3,60,2018-09-07,CA10,8010005836,N2C 0B7,0,Material Handling,0,4036,2018-09-08,0,0,0.0,2018-09-18,10
4,20,2018-09-07,CA10,8010003152,L5W 0A1,1100181639,Safety Supplies,1,4036,2018-09-21,0,0,11.0,2018-09-13,-8

In [16]:
# Transform 'target_feature' to binary: 0 if value is positive, 1 if value is negative
df['binary_target'] = df['TARGET_FEATURE'].apply(lambda x: 0 if x > 0 else 1)

In [17]:
df['binary_target']

0          0
1          0
2          0
3          0
4          1
          ..
1009111    0
1009112    1
1009113    0
1009114    0
1009115    0
Name: binary_target, Length: 1009116, dtype: int64

In [19]:
# Remove the original 'target_feature' column from the DataFrame
df = df.drop(columns=['TARGET_FEATURE'])

In [21]:
# Setup the PyCaret environment for classification with the binary target
clf_setup = setup(data=df, target='binary_target', session_id=123)

# Proceed with comparing models, model training, and evaluation
best_model = compare_models()

Initiated  . . . . . . . . . . . . . . . . . .                02:39:14
Status     . . . . . . . . . . . . . . . . . .        Fitting 10 Folds
Estimator  . . . . . . . . . . . . . . . . . .  Extra Trees Classifier

Processing:   0%|          | 0/65 [00:00<?, ?it/s]